Client/App_WebReferences/WatchRef/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="saatler">
        <s:complexType />
      </s:element>
      <s:element name="saatlerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="saatlerResult" type="tns:ArrayOfV_Saatler" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfV_Saatler">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="V_Saatler" nillable="true" type="tns:V_Saatler" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="V_Saatler">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Marka" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Kordon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Renk" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Stok" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Fiyat" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthControl" type="tns:AuthControl" />
      <s:complexType name="AuthControl">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="saatlerSoapIn">
    <wsdl:part name="parameters" element="tns:saatler" />
  </wsdl:message>
  <wsdl:message name="saatlerSoapOut">
    <wsdl:part name="parameters" element="tns:saatlerResponse" />
  </wsdl:message>
  <wsdl:message name="saatlerAuthControl">
    <wsdl:part name="AuthControl" element="tns:AuthControl" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="saatler">
      <wsdl:input message="tns:saatlerSoapIn" />
      <wsdl:output message="tns:saatlerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="saatler">
      <soap:operation soapAction="http://tempuri.org/saatler" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:saatlerAuthControl" part="AuthControl" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="saatler">
      <soap12:operation soapAction="http://tempuri.org/saatler" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:saatlerAuthControl" part="AuthControl" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:59609/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:59609/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>